body {
  font-family: arial, sans-serif;
}

nav {
    background-color: lightgray;
    height : 3em;
    font-family: arial, sans-serif;
}

nav ul { 
    list-style-type: none;
    padding-left: 0;
    vertical-align: middle;
}

nav li {
  display: inline-block;
  vertical-align: middle;
}

nav li a {
  color: darkblue;
  text-decoration: none;
}

.back {
    position: absolute;
    left: 20px;
}

.forward {
    position: absolute;
    right: 20px;
}

